<p></p>
<div class="container">
    <div>
        <h4>Afficher le nombre total d'heures de Cours pour un type de cours</h4>
    </div>
    <p></p>
    <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline my-2 my-lg-0">
        
            <div class="form-group">
                <select [(ngModel)]="typeCoursId" name="typeCoursId"  class="form-control" (change)="typeCoursChange(typeCoursId)" > 
                     <option value="0"  >Choisir un type de cours</option>
                     <option *ngFor="let typeCour of typeCours" value="{{typeCour.id}}">{{typeCour.type}}</option>>
                 </select>
             </div> 
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"style=" margin-left: 10px" (click)="reset()">Effacer</button>
        
    </form>
    <p></p>

    <div *ngIf="typeCoursId>0" class="card" style="width: 21rem; margin-top: 10px" cadre>
        <div class="card-body">
            <h5 class="card-title">Statistiques :</h5>
            <h6 class="card-subtitle mb-2 text-muted"><b>Nombre heure : </b><b> {{nbrHeure}} <span>h</span></b></h6>
            <h6 class="card-subtitle mb-2 text-muted"><b>Nombre Heure global : </b><b>{{nbrHeureGlobal}}  <span>h</span></b></h6>
            <h6 class="card-subtitle mb-2 text-muted"><b> Taux horaire :{{taux}}</b><span> %</span></h6>
           
        </div>
    </div>

</div>

 


