
<div class="col-md-6 offset-md-3">
    <h4>Créer Type cours</h4>
    <form (ngSubmit)="onSubmit()"  [formGroup]="typeCoursFormgroup"> 
        <div class="form-group">
            <input type="text" class="form-control" id="type" placeholder="Type de cours" style="margin-top: 10px"
            [(ngModel)]="typeCours.type" name="type"style="margin-bottom: 10px"formControlName="tType"
            [ngClass]="{'is-invalid':submitted && typeCoursFormgroup.controls.tType.errors}">
            <div *ngIf="submitted && typeCoursFormgroup.controls.tType.errors" class="invalid-feedback">
                <div *ngIf="typeCoursFormgroup.controls.tType.errors"><sup>* </sup> Le type de cours est requis</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="prix" placeholder="Prix du cours" style="margin-top: 10px"
            [(ngModel)]="typeCours.prix" name="prix" style="margin-bottom: 10px"formControlName="tPrix"
            [ngClass]="{'is-invalid':submitted && typeCoursFormgroup.controls.tPrix.errors}">
            <div *ngIf="submitted && typeCoursFormgroup.controls.tPrix.errors" class="invalid-feedback">
                <div *ngIf="typeCoursFormgroup.controls.tPrix.errors"><sup>* </sup> Le prix est requis</div>
            </div>
        </div>
       
        
        
            <button class="btn btn-success" type="submit"style="margin-top: 10px"> Valider</button>
            <button (click)="goToTypeCoursList()" class="btn btn-primary" type="submit"style="margin-top: 10px; margin-left: 10px" > Annuler</button>

    </form>
    </div>


