<p></p>
<div class="container">

    <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline my-2 my-lg-0">
        <!-- <label for="">Mot Clé:</label> -->
        <!-- <input class="form-control mr-sm-2" name="motCle" [(ngModel)]="statut" required type="search"
            placeholder="Saisir le Statut" aria-label="Search"> -->
            <div class="form-group">
                <select [(ngModel)]="enseignantId" name="enseignantId"  class="form-control" (change)="enseignantChange(enseignantId)" > 
                     <option value="0"  >Choisir Enseignant</option>
                     <option *ngFor="let enseignant of enseignants" value="{{enseignant.id}}">{{enseignant.firstName}}<span>&nbsp;</span>{{enseignant.lastName}}</option>>
                 </select>
             </div> 
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"style=" margin-left: 10px" (click)="reset()">Effacer</button>
        <span *ngIf="totalRecords>0" style=" margin-left: 10px">Résultats de la recherche:<span style=" margin-left: 10px">{{totalRecords}}<span style=" margin-left: 10px">Cours trouvé(s)  </span></span></span> 
    </form>
    <p></p>
    <div class="row" >
    <div class="col-md-4"  *ngFor="let cour of cours | paginate:{
        id: 'foo',
        itemsPerPage:6,
        currentPage:page,
        totalItems:totalRecords
    }"  >
        <div class="card" style="width: 21rem; margin-top: 10px" cadre>
            <div class="card-body">
                <h5 class="card-title">{{cour.libelle}}</h5>
                <h6 class="card-subtitle mb-2 text-muted"><b> Nombre Heure: </b>{{cour.nbeHeure}}</h6>
                <h6 class="card-subtitle mb-2 text-muted"> <b> Type Cours: </b>{{cour.typecour.type}}</h6> 
                <h6 class="card-subtitle mb-2 text-muted"> <b> Formation: </b></h6>
                <h6 class="card-subtitle mb-2 text-muted"> <b> Groupe: </b></h6>
                <a href="#" class="card-link">Retirer ce Cours à cet Enseignant</a>
            </div>
        </div>
    </div>
</div>

</div>
<p  *ngIf="totalRecords>0">
    <pagination-controls
        id="foo"
        previousLabel="Precedent"
        nextLabel="Suivant"
        [responsive]="true"
        [autoHide]="true"
        [directionLinks]="true"
        [maxSize]="3"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        (pageBoundsCorrection)="handlePageChange($event)"
        (pageChange)="handlePageChange($event)"
        screenReaderCurrentLabel="You're on page">
    </pagination-controls>
</p>
 
