<p></p>
<div class="container">
    <div>
    <h4>Afficher le nombre d'heures total par statut</h4>
</div>
<p></p>
    <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline my-2 my-lg-0">
       
            <div class="form-group">
                <select [(ngModel)]="statut" name="statut"  class="form-control" (change)="statusChange(statut)" > 
                     <option value="null" >Choisir Statut</option>
                     <option *ngFor="let stat of statues" value="{{stat.name}}">{{stat.name}}</option>>
                 </select>
             </div> 
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"style=" margin-left: 10px" (click)="reset(statut)">Effacer</button>
        
    </form>
    <p></p>
    
        <div *ngIf="statut!='null'" class="card" style="width: 21rem; margin-top: 10px" cadre>
            <div class="card-body">
                <h5 class="card-title">Nombre total d'heures:</h5>
                <h6 class="card-subtitle mb-2 text-muted"><b> Nombre heure : {{nbrHeure}}</b><span> h</span></h6>
                <h6 class="card-subtitle mb-2 text-muted"><b> Nombre heure global :{{nbrHeureGlobal}}</b><span> h</span></h6>
                <h6 class="card-subtitle mb-2 text-muted"><b> Taux horaire :{{taux}}</b><span> %</span></h6>
                
            </div>
        </div>
</div>


