<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Gestion des Enseignements</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Enseignant
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="enseignants">Liste des Enseignants</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="search-enseignant">Liste des Enseignants par statut</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="search-enseignant-groupe">Liste des Enseignants par groupe de formation</a>
          <div class="dropdown-divider"></div>
          <a  *ngIf="authService.isAdmin() || authService.isResponsable()" class="dropdown-item" routerLink="add-enseignant-to-groupe">Affecter ou Retirer un Enseignant à un groupe</a>
         
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Cours
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="cours">Liste des cours</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="search-cours-enseignant">Liste des cours pour un Enseignant</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="search-cours-formation">Liste des cours pour une formation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="type-cours">Types de cours </a>
          <div class="dropdown-divider"></div>
          <a  *ngIf="authService.isAdmin() || authService.isResponsable()" class="dropdown-item" routerLink="add-cours-formation">Affecter ou Retirer un cours à une Formation</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Groupe
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="groupes">Liste des groupes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="search-groupe-formation" >Liste des groupes d'une formation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="search-groupe-enseignant" routerLinkActive="active">Liste des groupes pour un Enseignant</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Formation
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="formations">Liste des formations</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="search-formation-cours">Rechercher un cours dans les formations</a>
        </div>
      </li>
      <li *ngIf="authService.isAdmin()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Utilisateur
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a  class="dropdown-item" routerLink="users">Liste des utilisateurs</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="roles">Liste des Roles</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="search-role-to-user">Liste des utilisateurs par Role</a>
          <div class="dropdown-divider"></div>
          <a  *ngIf="authService.isAdmin() || authService.isResponsable()" class="dropdown-item" routerLink="add-role-to-user">Affecter ou Retirer un role à un utilisateur</a>
        </div>
      </li>

      <li *ngIf="authService.isAdmin() || authService.isResponsable()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a  class="dropdown-item" routerLink="#">Heures régulières </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">Heures supplémentaires</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">Statistiques</a>
        </div>
      </li>
     
    </ul>
   
    <ul class="navbar-nav margin-right">
      <li>
        <a class="nav-link"> {{authService.loggedUser}}</a>
      </li>
      <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Connexion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngIf="!authService.isloggedIn" class="dropdown-item" routerLink="login">Login</a>
          <div class="dropdown-divider"></div>
          <a *ngIf="authService.isloggedIn" class="dropdown-item"routerLink="#" (click)="onLogout()">Logout</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">Profil</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>All Right Reserved 2022 @gogo</span>
  </div>
</footer>