
<div class="col-md-6 offset-md-3">
    <h4>Créer cours</h4>
    <form (ngSubmit)="onSubmit()"> 
        <div class="row">
            <div class="col">
        <div class="form-group">
            <input type="text" class="form-control" id="libelle" placeholder="Libelle du cours" style="margin-top: 10px"
            [(ngModel)]="cours.libelle" name="libelle"style="margin-bottom: 10px">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="nbeHeure" placeholder="Nombre d'heure" style="margin-top: 10px"
            [(ngModel)]="cours.nbeHeure" name="nbeHeure" style="margin-bottom: 10px">
        </div>
        <div class="form-group"> 
            <button class="btn btn-success" type="submit"> Valider</button>
            <button (click)="goToCoursList()" class="btn btn-warning" type="submit"style=" margin-left: 10px" > Annuler</button>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <select [(ngModel)]="cours.enseignant"   name="enseignant.id" id="enseignantid" class="form-control">
                <option  [ngValue]="null" disabled >-Choisir un enseignant-</option>
                <option  *ngFor="let enseignant of enseignants" [ngValue]="enseignant">{{enseignant.firstName}}<span>&nbsp;</span>{{enseignant.lastName}}</option>
            </select>
        </div>
        
        <div class="form-group"> 
            <select [(ngModel)]="cours.typecour"   name="typecour.id" id="typecourid" class="form-control" > 
                <option  [ngValue]="null" disabled>-Choisir un type cours-</option>
                <option *ngFor="let typecour of typecours" [ngValue]="typecour">{{typecour.type}}</option>
            </select>
        </div>
        <div class="form-group">
            <select  [(ngModel)]="nomFormation" name="formation.id" id="formation.nomFormation"  class="form-control" > 
                <option [ngValue]="null" disabled>Choisir une formation</option>
                <option *ngFor="let formation of formations" [ngValue]="formation.nomFormation">{{formation.nomFormation}}</option>
            </select>
        </div>
    </div>
</div>
       
    </form>
    </div>



