
<div class="">
    <button  *ngIf="authService.isAdmin() || authService.isResponsable()"  (click)="createCours()"  class="btn btn-sm btn-success" style="margin-bottom: 10px">Ajouter</button>
</div>

<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="search" #myInput  [(ngModel)]="nom" (input)="searchTitle()"
          class="form-control" placeholder="Rechercher par libellé du cours" />
      </div>
    </div>
</div>
<div>
    <h4>Liste des Cours</h4>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Libelle</th>
            <th>Type de cours</th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let cour of cours | paginate:{
            id: 'foo',
            itemsPerPage:4,
            currentPage:page,
            totalItems:totalRecords
        }">
            <td>{{cour.libelle}}</td>
            <td>{{cour.typecour.type}}</td>
           
                <td  *ngIf="authService.isAdmin() || authService.isResponsable()"><button (click)="updateCours(cour.id)" class="btn btn-sm btn-warning"><span title="Modifier" class="fa fa-pencil-square-o"></span></button></td>
                <td  *ngIf="authService.isAdmin() || authService.isResponsable()"><button (click)="deleteCours(cour.id)" class="btn btn-sm btn-danger" style="margin-left: 10px"><span title="Supprimer" class="fa fa-trash-o"></span></button></td>
                <td><button (click)="coursDetails(cour.id)" class="btn btn-sm btn-info" style="margin-left: 10px"><span title="Détails" class="fa fa-info"></span></button> </td>
            
        </tr>
    </tbody>

</table>       
<pagination-controls
      id="foo"
      previousLabel="Precedent"
      nextLabel="Suivant"
      [responsive]="true"
      [autoHide]="true"
      [directionLinks]="true"
      [maxSize]="3"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      (pageBoundsCorrection)="handlePageChange($event)"
      (pageChange)="handlePageChange($event)"
      screenReaderCurrentLabel="You're on page">
      
      
</pagination-controls>

