<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gestion des Enseignements</title>
  <meta charset="utf-8">
  
</head>
<body>

<div class="jumbotron text-center">
  <h1>Collège Merkezy de Montréal</h1>
  <p>Scolaire et professionnelle </p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Programme DEC</h3>
      <p>Le Collège Merkezy  propose trois programmes d’études préuniversitaires...</p>
      <p>D’une durée de trois ans, les formations techniques vous préparent à accéder au ...</p>
    </div>
    <div class="col-sm-4">
      <h3>Formation Continue AEC</h3>
      <p>Les programmes intensifs d'attestation d'études collégiales (AEC) sont offerts à ...</p>
      <p>Les cours du soir désignent les cours d’AEC offerts au Collège...</p>
    </div>
    <div class="col-sm-4">
      <h3>Service aux Enseignants</h3>        
      <p>Les Enseignants désirants intégrer le collégial depuis moins de 12 mois...</p>
      <p>Les enseignants privilégient les nouvelles avenues en sciences...</p>
    </div>
  </div>
</div>

</body>
</html>
