
<div class="col-md-6 offset-md-3">
    <h4>Créer Enseignant</h4>
    <form (ngSubmit)="onSubmit()" [formGroup]="enseignantFormgroup"> 
        <div class="row">
            <div class="col">
        <div class="form-group">
            <input type="text" class="form-control" id="firstName" placeholder="Prénom" style="margin-top: 10px"
            [(ngModel)]="enseignant.firstName" name="firstName"style="margin-bottom: 10px" formControlName="eFirstName"
            [ngClass]="{'is-invalid':submitted && enseignantFormgroup.controls.eFirstName.errors}">
            <div *ngIf="submitted && enseignantFormgroup.controls.eFirstName.errors" class="invalid-feedback">
                <div *ngIf="enseignantFormgroup.controls.eFirstName.errors"><sup>* </sup> Le prénom est requis</div>
                <div *ngIf="enseignantFormgroup.controls.eFirstName.errors.minlength"><sup>* </sup> Le nombre min de caracteres est 2</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="lastName" placeholder="Nom" style="margin-top: 10px"
            [(ngModel)]="enseignant.lastName" name="lastName" style="margin-bottom: 10px" formControlName="eLastName"
            [ngClass]="{'is-invalid':submitted && enseignantFormgroup.controls.eLastName.errors}">
            <div *ngIf="submitted && enseignantFormgroup.controls.eLastName.errors" class="invalid-feedback">
                <div *ngIf="enseignantFormgroup.controls.eLastName.errors"><sup>* </sup> Le nom est requis</div>
                <div *ngIf="enseignantFormgroup.controls.eLastName.errors.minlength"><sup>* </sup> Le nombre min de caracteres est 2</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="adress" placeholder="Adresse" style="margin-top: 10px"
            [(ngModel)]="enseignant.adress" name="adress" style="margin-bottom: 10px" formControlName="eAddress">
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit"> Valider</button>
            <button (click)="goToEnseignantList()" class="btn btn-primary" type="submit"style=" margin-left: 10px" > Annuler</button>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input type="text" class="form-control" id="mail" placeholder="Email" style="margin-top: 10px"
            [(ngModel)]="enseignant.mail" name="mail" style="margin-bottom: 10px" formControlName="eMail"
            [ngClass]="{'is-invalid':submitted && enseignantFormgroup.controls.eMail.errors}">
            <div *ngIf="submitted && enseignantFormgroup.controls.eMail.errors" class="invalid-feedback">
                <div *ngIf="enseignantFormgroup.controls.eMail.errors"><sup>* </sup> Le mail est requis</div>
                <div *ngIf="enseignantFormgroup.controls.eMail.errors.email"><sup>* </sup> L'adresse Email est invalid</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="telephone" placeholder="Téléphone" style="margin-top: 10px"
            [(ngModel)]="enseignant.telephone" name="telephone" formControlName="eTelephone"
            [ngClass]="{'is-invalid':submitted && enseignantFormgroup.controls.eTelephone.errors}">
            <div *ngIf="submitted && enseignantFormgroup.controls.eTelephone.errors" class="invalid-feedback">
                <div *ngIf="enseignantFormgroup.controls.eTelephone.errors"><sup>* </sup> Le Téléphone est requis</div>
                <div *ngIf="enseignantFormgroup.controls.eTelephone.errors.minlength"><sup>* </sup> Le nombre min de caracteres est 10</div>
            </div>
        </div>
        <div class="form-group">
           <select [(ngModel)]="enseignant.statut" name="statut"  class="form-control" formControlName="eStatut"
           [ngClass]="{'is-invalid':submitted && enseignantFormgroup.controls.eStatut.errors}">
          
                <option [ngValue]="null" disabled>-Choisir un Statut-</option>
                <option *ngFor="let stat of statues" value="{{stat.name}}">{{stat.name}}</option>
            </select>
             <div *ngIf="submitted && enseignantFormgroup.controls.eStatut.errors" class="invalid-feedback">
                <div *ngIf="enseignantFormgroup.controls.eStatut.errors"><sup>* </sup> Veuillez Choisir un Statut</div>
            </div>
        </div>
       
        <div class="form-group">
            <select  [(ngModel)]="numeroGroupe" name="groupe.numeroGroupe"  class="form-control" formControlName="eGroupe"
            [ngClass]="{'is-invalid':submitted && enseignantFormgroup.controls.eGroupe.errors}" > 
                <option [ngValue]="null" disabled>-Choisir un Groupe-</option>
                <option *ngFor="let groupe of groupes" [ngValue]="groupe.numeroGroupe">{{groupe.numeroGroupe}}</option>
            </select>
            <div *ngIf="submitted && enseignantFormgroup.controls.eGroupe.errors" class="invalid-feedback">
                <div *ngIf="enseignantFormgroup.controls.eGroupe.errors"><sup>* </sup> Veuillez Choisir un groupe</div>
            </div>
        </div>
    </div>
</div>
        
    </form>
    
</div>
