<p></p>
<div class="container">
   <div>
    <h4>Rechercher la liste des Cours pour une formation</h4>
</div>
<p></p>
    <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline my-2 my-lg-0">
      
            <div class="form-group">
                <select [(ngModel)]="formationName" name="formationName"  class="form-control" (change)="formationChange(formationName)" > 
                     <option value="null"  >Choisir une Formation</option>
                     <option *ngFor="let formation of formations" value="{{formation.nomFormation}}">{{formation.nomFormation}}</option>>
                 </select>
             </div> 
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style=" margin-left: 10px" (click)="reset()">Effacer</button>
        <span *ngIf="totalRecords>0" style=" margin-left: 10px">Résultats de la recherche:<span style=" margin-left: 10px">{{totalRecords}}<span style=" margin-left: 10px">Cours trouvé(s)  </span></span></span> 
    </form>
    <p></p>
    <div class="row" >
    <div class="col-md-4"  *ngFor="let cour of cours | paginate:{
        id: 'foo',
        itemsPerPage:6,
        currentPage:page,
        totalItems:totalRecords
    }"  >
        <div class="card" style="width: 21rem; margin-top: 10px" cadre>
            <div class="card-body">
                <h5 class="card-title">{{cour.libelle}}</h5>
                <h6 class="card-subtitle mb-2 text-muted"><b> Nombre Heure: </b>{{cour.nbeHeure}}</h6>
                <h6 class="card-subtitle mb-2 text-muted"> <b> Type Cours: </b>{{cour.typecour.type}}</h6> 
                <h6 class="card-subtitle mb-2 text-muted"> <b> Enseignant: </b>{{cour.enseignant.firstName}}<span>&nbsp;</span>{{cour.enseignant.lastName}}</h6> 
                
            </div>
        </div>
    </div>
</div>

</div>
<p  *ngIf="totalRecords>0">
    <pagination-controls
        id="foo"
        previousLabel="Precedent"
        nextLabel="Suivant"
        [responsive]="true"
        [autoHide]="true"
        [directionLinks]="true"
        [maxSize]="3"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        (pageBoundsCorrection)="handlePageChange($event)"
        (pageChange)="handlePageChange($event)"
        screenReaderCurrentLabel="You're on page">
    </pagination-controls>
</p>
 

