<div class="container">

    <form  (ngSubmit)="onSubmit()" class="form-inline my-2 my-lg-0">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <select [(ngModel)]="libelle" name="libelle" class="form-control"
                        (change)="onChangeCours()">
                        <option value="0">Choisir un Cours</option>
                        <option *ngFor="let cours of courss" value="{{cours.libelle}}">
                            {{cours.libelle}}</option>>
                    </select>
                </div>
                <p></p>
                <div class="form-group">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style=" margin-left: 10px"
                        (click)="onSubmit()">Valider</button>
                </div>
            </div>


            <div class="col">
                <div class="form-group">
                    <select [(ngModel)]="nomFormation" name="nomFormation" class="form-control" (change)="onChangeFormation()">
                        <option value="0">Choisir une Formation</option>
                        <option *ngFor="let formation of formations" value="{{formation.nomFormation}}">{{formation.nomFormation}}</option>>
                    </select>
                </div>
                <p></p>
                <div class="form-group">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" style=" margin-left: 10px"
                        (click)="reset()">Effacer</button>
                </div>
            </div>
        </div>

    </form>
</div>
