

<div class="">
    <button *ngIf="authService.isAdmin()" (click)="createEnseigant()"  class="btn btn-sm btn-success" style="margin-bottom: 10px">Ajouter</button>
</div>

<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="search" #myInput  [(ngModel)]="nom" (input)="searchTitle()"
          class="form-control" placeholder="Rechercher par Nom" />
      </div>
    </div>
</div>
<div>
    <h4>Liste des Enseignants</h4>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <!-- <th>Adresse</th> -->
            <th>Email</th>
            <th>Statut</th>
            <!-- <th>Téléphone</th> -->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let enseignant of enseignants | paginate:{
            id: 'foo',
            itemsPerPage:4,
            currentPage:page,
            totalItems:totalRecords
        }">
            <td>{{enseignant.lastName}}</td>
            <td>{{enseignant.firstName}}</td>
          <!--   <td>{{enseignant.adress}}</td> -->
            <td>{{enseignant.mail}}</td>
            <td>{{enseignant.statut}}</td>
           <!--  <td>{{enseignant.telephone}}</td> -->
           
                <td *ngIf="authService.isAdmin()"><button (click)="updateEnseignant(enseignant.id)" class="btn btn-sm btn-warning"><span title="Modifier" class="fa fa-pencil-square-o"></span></button></td>
                <td *ngIf="authService.isAdmin()"><button (click)="deleteEnseignant(enseignant.id)" class="btn btn-sm btn-danger" style="margin-left: 10px"><span title="Supprimer" class="fa fa-trash-o"></span></button></td>
                <td><button (click)="enseignantDetails(enseignant.id)" class="btn btn-sm btn-info" style="margin-left: 10px"><span title="Détails" class="fa fa-info"></span></button> </td>
            
        </tr>
    </tbody>

</table>       
<pagination-controls
      id="foo"
      previousLabel="Precedent"
      nextLabel="Suivant"
      [responsive]="true"
      [autoHide]="true"
      [directionLinks]="true"
      [maxSize]="3"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      (pageBoundsCorrection)="handlePageChange($event)"
      (pageChange)="handlePageChange($event)"
      screenReaderCurrentLabel="You're on page">
      
      
</pagination-controls>