<p></p>
<div class="container">
    <div>
        <h1>Informations</h1>
        <ul>
            <li>Le nombre d'heures régulières pour un Enseignant est de 200 h</li>
            <li>A partir de cette valeur toute heure ajoutée sera considérée comme heures supplémentaires</li>
            <li>On parle de sous service si le nombre d'heures de travail n'atteint pas 200 h, dans ce cas le responsable pourrait lui ajouter des heures pour compléter son volume horaire</li>
            <li> Les heures de cours ne sont pas toutes comptées de la même manière (elles ne sont pas payées au même prix, suivant que ce sont des Travaux dirigés, des Travaux Pratique ou des Cours magistraux</li>
            <li> Les affectations des enseignants à un cours sont définies au niveau des groupes. Et, il est nécessaire de gérer l’affectation individuelle des groupes </li>
            <li>Les enseignants ne doivent pas avoir tous le même service : leur statut donne une base, mais elle peut être modifiée : temps partiel, temps plein, contractuelle ou contrat particulier (vacataire)</li>
        </ul>
    </div>
</div>
