<div class="container">

    <form  (ngSubmit)="onSubmit()" class="form-inline my-2 my-lg-0">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <select [(ngModel)]="userName" name="libelle" class="form-control"
                        (change)="onChangeUser()">
                        <option value="0">Choisir un Utilisateur</option>
                        <option *ngFor="let user of users" value="{{user.userName}}">
                            {{user.userName}}</option>>
                    </select>
                </div>
                <p></p>
                <div class="form-group">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style=" margin-left: 10px"
                        (click)="onSubmit()">Valider</button>
                </div>
            </div>


            <div class="col">
                <div class="form-group">
                    <select [(ngModel)]="roleName" name="roleName" class="form-control" (change)="onChangeRole()">
                        <option value="0">Choisir un Role</option>
                        <option *ngFor="let role of roles" value="{{role.roleName}}">{{role.roleName}}</option>>
                    </select>
                </div>
                <p></p>
                <div class="form-group">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" style=" margin-left: 10px"
                        (click)="reset()">Effacer</button>
                </div>
            </div>
        </div>

    </form>
</div>

